.text{
color: #5E5E5E;
width: 100%;
font-family: 'Roboto';
font-style: normal;
font-size: 20px;
display: inline-block;
}
textarea{
resize: none!important;
height: 60px;
}
.container{
width: 100%;
height: 100px;
background-color: white;
box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
border-radius: 10px;
color: #5E5E5E;
}
::ng-deep .mat-form-field-infix{
width: 100%!important;
}
::-webkit-scrollbar {
width: 10px;
overflow-y: scroll;
background-color: white;
}
::-webkit-scrollbar-thumb {
background:  #A8A7A7;;
border-radius: 8px;
}

.text-input {
    width: 100%;
}

.notes {
    padding: 12px;
    display: flex;
    flex: wrap;
    flex-direction: column;
}

.row{
    width: 100%!important;
}

.form {
    display: block;
}