<div class="navbar-container">
    <div class="title-container" (click)="titleClicked()">
        {{title}}
    </div>

    <div class="icons-container">
        <div class="icon" (click)="notificationsClicked()">
            <i class="fa-solid fa-bell"></i>
        </div>
       

        <div class="icon" (click)="userProfileClicked()">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="icon" (click)="homeClicked()">
            <i class="fa-solid fa-house"></i>
        </div>
        
    </div>
</div>

