::ng-deep .mat-form-field-underline {
    display: none;
  }
  ::ng-deep .mat-form-field-shadow {
    display: none;
  }

  ::ng-deep mat-form-field-trigger {
      background-color: white;
  }

.workflow-card {
    display: flex;
    flex-wrap:wrap;
    margin-left: 72px;
    margin-right:80px;
    margin-bottom: 21px;
    height: fit-content;
    min-height: 150px;
    left: 0px;
    top: 0px;
    padding: 32px 25px 32px 25px;
    background: #FBFBFB;
    border: 1px solid #A8A7A7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    min-width: fit-content;
}

.drop-down{

    text-align: left;
    resize: none;
    width: 325px;
    height: 32px;
    background: #FFFFFF;
    border: 0.05px solid #5E5E5E;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 43px;
}

.role{
    padding-top: 6px;
    padding-left: 15px;    
}
.technology{
    padding-top: 6px;
    padding-left: 15px; 
}
.date{
    margin-right: 10px;
    text-align: left;
}
.delete{
    display: inline-block;  
}
.generic{
    ::ng-deep .mat-select-value{
        color: black!important;
    }
    ::ng-deep .mat-select-arrow{
        color: black!important;
    }
    padding-top: 6px;
    padding-left: 15px;
    height: 50px;
    top: inherit;
    box-sizing: inherit;
    border-radius: inherit;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.large{
 width: 410px;
}



.small {
 width: 230px;
}

.column{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 6px;
    height: 50px;
    }

    mat-form-field{
        height: 40px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
        display: none! important;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        top:0px! important;
    }
    
    .icon {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 75px;
        font-size: 150%;
        line-height: 50px;
        color: #3655B3;
        margin-left: auto;
    }
    
    .icon :hover{
        color: #5E5E5E;
        cursor: pointer;
        margin-bottom: 5px;
        box-shadow: 0px 3px 0px #5E5E5E;
    }

    .text{
        color: #5E5E5E;
        position: absolute;
        margin-top: 575px;
        width: 207px;
        height: 27px;
        left: 118px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        }
        textarea{
        resize: none!important;
        height: 60px;
        width: 100%;
        }
        .container{
            margin-left: 10px;
            margin-right: 10px;
            width: 100%;
        background-color: white;
        border-radius: 6px;
        border:1px solid #5E5E5E;
        }
        ::ng-deep .mat-form-field-infix{
        width: 100%!important;
        }
        ::-webkit-scrollbar {
        width: 10px;
        overflow-y: scroll;
        background-color: white;
        }
        ::-webkit-scrollbar-thumb {
        background:  #A8A7A7;;
        border-radius: 8px;
        }